
.equipes {
  width: 692.75px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background: #C5A769;
}
.logo-size {
  width: 82.6px;
  height: 82.6px;
  left: 717.57px;
  top: 303.77px;
  background: #868686;
}

.formtitle {
  font-family: 'Carme';
  font-size: 60px;
  color: #FFFFFF;
  
}

.formequipes {
  background: #261423;
}

.c-FormEquipe, .c-label {
  text-align: left;
  font-family: 'Carme';
  font-style: normal;
  font-size: 20px;
  color: #FFFFFF;
}

input {
  box-sizing: border-box;
  width: 574.48px;
  height: 46.93px;
  background: #591E55;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
}

#objetivo {
  width: 574.48px;
  height: 178.98px;
}

.c-button {
  width: 235.3px;
  height: 62.58px;
  background: #C5A769;
  border-radius: 5px;
  color: #FFFFFF !important;
}

