
.equipes {
  width: 692.75px;
  border: 1px solid #000000;
  border-radius: 5px;
  background: #949494;
}

.formtitle {
  font-family: 'Carme';
  font-size: 60px;
  color: #FFFFFF;
  background: #949494;
  
}

.formequipes {
  background: #D5D5D5;
}

.c-FormEquipe, .c-label {
  text-align: left;
  font-family: 'Carme';
  font-style: normal;
  font-size: 20px;
  color: #000000;
}

input {
  box-sizing: border-box;
  width: 574.48px;
  height: 46.93px;
  background: rgba(251, 251, 251, 0.35);
  border: 1px solid #000000;
  border-radius: 5px;
}

#objetivo {
  width: 574.48px;
  height: 178.98px;
}

.c-button {
  width: 235.3px;
  height: 62.58px;
  background: #949494;
  border-radius: 5px;
  color: #FFFFFF !important;
}

.c-button {
  position: absolute;
  left:  1100.46px;;
}
