.side-bar-btn {
  padding: 1.25rem;
}

.bg-grey-100 {
  background-color: #888;
}

.menu > li {
  list-style: none;
}

.top-icon-size {
  width: 4rem;
  height: 4rem;
}

.icon-size {
  width: 2rem;
  height: 2rem;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.5rem;
  background-color: #888;
  padding: 0.5rem;
}

.icon > img {
  width: 100%;
  height: 100%;
}

.logo-size {
  width: 3rem;
  height: 3rem;
}

.nav-link-c {
  color: #888;
  font-size: 12px;
  padding: 0;
}

.nav-link-c:hover {
  color: #777;
}

.nav-link-c:active {
  color: #666;
}

.nav-link-c-perfil {
  font-size: 22px;
  color: white;
}

.nav-link-c-perfil:hover {
  color: #555;
}

.nav-link-c-perfil.active {
  border-bottom: 5px solid black;
}
