/***
 * Estilos usados na SideBar e TopBar
 */

.c-bar-icon {
  width: 4rem;
  height: 4rem;
}

.c-logo-size {
  width: 3rem;
  height: 3rem;
}

.c-icon {
  width: 1.75rem;
  height: 1.75rem;
}

.c-icon > img {
  width: 100%;
  height: 100%;
}

.c-side-icon {
  width: 4rem;
  height: 4rem;
}

.c-side-icon > span {
  font-size: 12px;
}

/***
 * Cores padrões
 */

.c-text-primary {
  color: #591e55;
}
.c-text-primary-dark {
  color: #261423;
}

.c-text-grey-100 {
  color: #eee;
}
.c-text-grey-200 {
  color: #ddd;
}
.c-text-grey-300 {
  color: #ccc;
}
.c-text-grey-400 {
  color: #bbb;
}
.c-text-grey-500 {
  color: #aaa;
}

.c-text-secondary {
  color: #c5a769;
}

.c-text-white {
  color: white;
}
.c-text-black {
  color: black;
}

.c-bg-primary {
  background-color: #591e55;
}
.c-bg-primary-dark {
  background-color: #261423;
}

.c-bg-secondary {
  background-color: #c5a769;
}

/***
 * Separator
 * Usado no formulario de login e cadastro.
 */

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
}

/***
 * Estilos usados na SideBar e TopBar
 */

.c-bar-icon {
  width: 4rem;
  height: 4rem;
}

.c-logo-size {
  width: 3rem;
  height: 3rem;
}

.c-icon {
  width: 1.75rem;
  height: 1.75rem;
}

.c-icon > img {
  width: 100%;
  height: 100%;
}

.c-side-icon {
  width: 4rem;
  height: 4rem;
}

.c-side-icon > span {
  font-size: 12px;
}

/***
 * Cores padrões
 */

.c-text-primary {
  color: #591e55;
}
.c-text-primary-dark {
  color: #261423;
}

.c-text-grey-100 {
  color: #eee;
}
.c-text-grey-200 {
  color: #ddd;
}
.c-text-grey-300 {
  color: #ccc;
}
.c-text-grey-400 {
  color: #bbb;
}
.c-text-grey-500 {
  color: #aaa;
}
.c-text-grey-600 {
  color: #999;
}
.c-text-grey-700 {
  color: #888;
}

.c-text-secondary {
  color: #c5a769;
}

.c-text-white {
  color: white;
}
.c-text-black {
  color: black;
}

.c-bg-primary {
  background-color: #591e55;
}
.c-bg-primary-dark {
  background-color: #261423;
}

.c-bg-secondary {
  background-color: #c5a769;
}

/***
 * Separator
 * Usado no formulario de login e cadastro.
 */

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
}
.separator::before,
.separator::after {
  display: inline-block;
  content: " ";
  border-bottom: 1px solid #bbb;
  height: 1px;
  margin-left: 10px;
  margin-right: 10px;
  flex: 1;
}

/***
 * Notificações
 */

.notification-container {
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 0 15px #555;
  width: 30rem;
  position: absolute;
  padding: 1rem;
  border-radius: 5px;
  z-index: 1;
  top: 4.2rem;
  right: 1.5rem;

  animation-name: notification-container-show;
  animation-duration: 0.15s;

  opacity: 100%;
}

@keyframes notification-container-show
{
  0% { opacity: 0%; }
  100% { opacity: 100%; }
}

.notification-container > div:not(:last-child) {
  margin-bottom: 1rem;
}

.notification-container.hide {
  display: none;
  position: absolute;
  z-index: 1;
  top: 4.2rem;
  right: 1.5rem;
}