.bg-grey-100 {
  background-color: #888;
}

.menu > li {
  list-style: none;
}

.top-icon-size {
  width: 4rem;
  height: 4rem;
}

.icon-size {
  width: 2rem;
  height: 2rem;
}

.icon {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 1.5rem;
  background-color: #888;
  padding: 0.5rem;
}

.icon > img {
  width: 100%;
  height: 100%;
}

.logo-size {
  width: 3rem;
  height: 3rem;
}

.nav-link {
  color: #888;
  font-size: 12px;
  padding: 0;
}

.nav-link:hover {
  color: #777;
}

.nav-link:active {
  color: #666;
}
